@page "/Chat"
@using global::Chat.Data.Entities
@inject HttpClient HttpClient

<div class="container">
    <div style="display: flex; flex-direction: column-reverse; max-height: 500px; overflow: auto">
        @if (Messages == null)
        {
            <em>Loading...</em>
        }
        else
        {
            @foreach (var m in Messages)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        @m.UserName
                        <small class="text-muted ml-2">@m.CreatedAt.ToString("g")</small>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@m.MessageText</p>
                    </div>
                </div>
            }
        }
    </div>

    <div class="form-group mb-2">
        <label>Username</label>
        <InputText @bind-Value="username" class="form-control"/>
    </div>
    <div class="form-group mb-2">
        <label>Message</label>
        <InputText @bind-Value="message" class="form-control"/>
        <button @onclick="SendMessage" class="btn btn-primary mt-3">Send</button>
    </div>
</div>


@code {
    private string message = "";
    private string username = "";
    private List<ChatMessage>? Messages { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadMessages();
    }

    private async Task SendMessage()
    {
        var chatMessage = new ChatMessage
        {
            MessageText = message,
            UserName = username
        };

        await HttpClient.PostAsJsonAsync("api/chat", chatMessage);

        await LoadMessages();

        message = "";
    }

    private async Task LoadMessages()
    {
        var messages = await HttpClient.GetFromJsonAsync<List<ChatMessage>>("api/chat");
        messages?.Reverse();
        Messages = messages;
    }

}