<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="bg-dark" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                <span class="" aria-hidden="true"></span> Chat
            </NavLink>
        </div>
    </nav>
</div>
